.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #007cba;
  max-width: 20ch;
  padding: 20px;
  font-size: 1.3rem;
  margin: 0 auto;
}

.txt:hover {
  text-overflow: clip;
  white-space: normal;
  max-width: 75ch;
}

.txtDisplay {
  background-color: lightblue;
  padding: 20px;
  font-size: 1.3rem;
  color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
